receivers:
  otlp:
    protocols:
      grpc:
      http:

connectors:
  servicegraph:
  spanmetrics:

processors:
  batch:

exporters:
  logging:
  prometheus:
    endpoint: "0.0.0.0:8889"
    resource_to_telemetry_conversion:
      enabled: true
  otlp:
    endpoint: "tempo:4317"
    tls:
      insecure: true
  loki:
    endpoint: "http://loki:3100/loki/api/v1/push"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging, otlp, servicegraph, spanmetrics]
    metrics:
      receivers: [otlp, servicegraph, spanmetrics]
      processors: [batch]
      exporters: [logging, prometheus]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging, loki]
