global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "otel-collector"
    static_configs:
      - targets: ["otel-collector:8889"]
  - job_name: "api"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["api:4000"]
